@tailwind base;
@tailwind components;
@tailwind utilities;

.invalid {
  @apply text-red-600 ring-red-600 focus:ring-red-600 !important;
  @apply placeholder:text-red-300 !important;
}

[disabled] {
  opacity: 0.5 !important;
}

input,
button {
  transition-property: opacity, background-color;
  transition-duration: 300ms;
  opacity: 1;
}
